@font-face
  font-family 'icomoon'
  src url('/font/x-font/icomoon.eot?-vv26i9')
  src url('/font/x-font/icomoon.eot?#iefix-vv26i9') format('embedded-opentype'),
  url('/font/x-font/icomoon.woff?-vv26i9') format('woff'),
  url('/font/x-font/icomoon.ttf?-vv26i9') format('truetype'),
  url('/font/x-font/icomoon.svg?-vv26i9#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-close:before
  content: "\e680"


@font-face
  font-family DIN
  src url('/font/din/DINOT-Light.otf') format('opentype')
  font-weight 300

@font-face
  font-family DIN
  src url('/font/din/DINOT.otf') format('opentype')
  font-weight 400
  
@font-face
  font-family DIN
  src url('/font/din/DINOT-Medium.otf') format('opentype')
  font-weight 500
  
@font-face
  font-family DIN
  src url('/font/din/DINOT-Bold.otf') format('opentype')
  font-weight 700
  
@font-face
  font-family 'DIN Condensed'
  src url('/font/din/DINOT-Black.otf') format('opentype')
  font-weight 900
  

@font-face
  font-family 'DIN Condensed'
  src url('/font/din/DINOT-CondLight.otf') format('opentype')
  font-weight 300

@font-face
  font-family 'DIN Condensed'
  src url('/font/din/DINOT-Cond.otf') format('opentype')
  font-weight 400
  
@font-face
  font-family 'DIN Condensed'
  src url('/font/din/DINOT-CondMedium.otf') format('opentype')
  font-weight 500
  
@font-face
  font-family 'DIN Condensed'
  src url('/font/din/DINOT-CondBold.otf') format('opentype')
  font-weight 700
  
@font-face
  font-family 'DIN Condensed'
  src url('/font/din/DINOT-CondBlack.otf') format('opentype')
  font-weight 900


@font-face
  font-family BT Dutch Rm
  src url('/font/dutch/Dutch801 Rm BT Roman.ttf.otf') format('truetype')
  font-weight 400
  
@font-face
  font-family BT Dutch Rm
  src url('/font/dutch/Dutch801 Rm BT Italic.ttf.otf') format('truetype')
  font-weight 400
  font-style italic

@font-face
  font-family BT Dutch Rm
  src url('/font/dutch/Dutch801 Rm BT Bolt.ttf.otf') format('truetype')
  font-weight 900
  
@font-face
  font-family BT Dutch Rm
  src url('/font/dutch/Dutch801 Rm BT Bolt Italic.ttf.otf') format('truetype')
  font-weight 900
  font-style italic