@import font
@import vendor

blue-color = #223040

font-size = 18px

doc-font()
    font-family Raleway
    font-weight 100
    font-size font-size

a
    text-decoration none
    color inherit

*
    padding 0px
    margin 0px

html
    height 100%
    width 100%

body
    doc-font()
    background-color white
    color blue-color

    height 100%

.inverted
    background-color blue-color
    color white

ul
    list-style none

#main-splash
    position relative
    background-image url(/img/evan.jpg)
    background-size 100%
    background-position center

    height 24rem
    display flex
    align-items flex-end
    
    .overlay
        position absolute
        background-color #0004
        width 100%
        height 100%

    .bio-text
        display flex
        flex-flow column

        z-index 1

        font-size 2rem
        color white

        padding-bottom 1rem

        p
            padding .25rem 1.5rem

            b
                font-weight 500

        .name
            font-size 2.5rem

.section-container
    display flex
    flex-flow row wrap
    justify-content space-around

.container-title
    flex 0 1 100%
    
    font-size 2rem
    padding 1rem

    font-weight 400

.preview
    align-items center
    position relative
    
    width 20rem
    margin 1.5rem .5rem
    
    .image-cont
        position relative
        height 15rem
        margin 1rem auto

    img
        width 100%
    
    .overlay
        position absolute
        width 100%
        height 100%
        
        background linear-gradient(#0000, #0000 60%, #0003)
    
    .title
        font-family Bebas
        font-size 2rem
        font-weight 500
        
        width 100%
        
    text-align center

.preview.art
    width auto
    
    img
        height 24rem
        width auto
    
    .overlay
        height 24rem

// Markdown/post stuff

header
    padding 1rem

    text-align center
    font-size 3rem
    font-weight bold
    
    background-color blue-color
    color white

#container.post
    padding 3rem
    max-width 800px
    
    margin 0 auto

    font-weight 400
    font-size 1.2rem
    line-height 1.275

h2
    padding-left .5rem

h3
    padding-left 1rem

p
    padding-left 2rem

blockquote
    padding 1rem 402rem
    margin 1rem -400rem

    text-align center
    background-color blue-color
    color white

ul
    padding-left .1rem
    list-style disc inside

li
    padding-left 1.5rem