// gist.github.com/d3vron/1080346
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

// fix display for Safari flexbox support
display()
  if arguments[0] is flex
    display -webkit-flex
    display flex
  else
    display arguments

transition()
  vendor('transition', arguments)

transform()
  vendor('transform', arguments)

user-select()
  vendor('user-select', arguments)

flex()
  vendor('flex', arguments)

justify-content()
  vendor('justify-content', arguments)

align-items()
  vendor('align-items', arguments)

align-self()
  vendor('align-self', arguments)

align-content()
  vendor('align-content', arguments)

flex-flow()
  vendor('flex-flow', arguments)