---
title: Evan Dorsky
layout: default
---

<div id="container">
    <div id="main-splash">
        <div class="overlay"></div>
        <div class="bio-text">
            <p class="name">Evan Dorsky</p>
            <p>
                <b>Electrical and computer engineer</b> and
                <br>
                <b>course assistant</b> studying at Olin College
            </p>
        </div>
    </div>
    <div class="section-container">
        <p class="container-title">Projects</p>
        {% for project in site.categories.projects %}
        <div class="preview">
            <div class="image-cont">
                <div class="overlay"></div>
                <img src="/img/{{project.short}}/project.jpg">
            </div>
            <p class="title">{{ project.title }}</p>
            <p class="desc">{{ project.desc }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="section-container inverted">
        <p class="container-title">Arts</p>
        {% for art in site.categories.arts %}
        <a href="{{art.url}}">
          <div class="art preview">
              <div class="overlay"></div>
              <img src="/img/{{art.short}}/project.jpg">
              <p class="title">{{ art.title }}</p>
          </div>
        </a>
        {% endfor %}
    </div>
</div>