@font-face {
  font-family: 'icomoon';
  src: url("/font/x-font/icomoon.eot?-vv26i9");
  src: url("/font/x-font/icomoon.eot?#iefix-vv26i9") format('embedded-opentype'), url("/font/x-font/icomoon.woff?-vv26i9") format('woff'), url("/font/x-font/icomoon.ttf?-vv26i9") format('truetype'), url("/font/x-font/icomoon.svg?-vv26i9#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close:before {
  content: "\e680";
}
@font-face {
  font-family: DIN;
  src: url("/font/din/DINOT-Light.otf") format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: DIN;
  src: url("/font/din/DINOT.otf") format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: DIN;
  src: url("/font/din/DINOT-Medium.otf") format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: DIN;
  src: url("/font/din/DINOT-Bold.otf") format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'DIN Condensed';
  src: url("/font/din/DINOT-Black.otf") format('opentype');
  font-weight: 900;
}
@font-face {
  font-family: 'DIN Condensed';
  src: url("/font/din/DINOT-CondLight.otf") format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'DIN Condensed';
  src: url("/font/din/DINOT-Cond.otf") format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'DIN Condensed';
  src: url("/font/din/DINOT-CondMedium.otf") format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'DIN Condensed';
  src: url("/font/din/DINOT-CondBold.otf") format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'DIN Condensed';
  src: url("/font/din/DINOT-CondBlack.otf") format('opentype');
  font-weight: 900;
}
@font-face {
  font-family: BT Dutch Rm;
  src: url("/font/dutch/Dutch801 Rm BT Roman.ttf.otf") format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: BT Dutch Rm;
  src: url("/font/dutch/Dutch801 Rm BT Italic.ttf.otf") format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: BT Dutch Rm;
  src: url("/font/dutch/Dutch801 Rm BT Bolt.ttf.otf") format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: BT Dutch Rm;
  src: url("/font/dutch/Dutch801 Rm BT Bolt Italic.ttf.otf") format('truetype');
  font-weight: 900;
  font-style: italic;
}
* {
  padding: 0px;
  margin: 0px;
}
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: DIN;
  font-weight: 300;
  font-size: 18px;
  background-color: #fff;
  color: #000;
  height: 100%;
}
ul {
  list-style: none;
}
#main-splash {
  position: relative;
  background-image: url("/img/evan.jpg");
  background-size: 100%;
  background-position: center;
  height: 24rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
}
#main-splash .overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.267);
  width: 100%;
  height: 100%;
}
#main-splash .bio-text {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  z-index: 1;
  font-size: 2rem;
  color: #fff;
  padding-bottom: 1rem;
}
#main-splash .bio-text p {
  padding: 0.25rem 1.5rem;
}
#main-splash .bio-text .name {
  font-size: 2.5rem;
}
#project-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
}
#project-container .project {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0.5rem;
  text-align: center;
  color: #000;
}
#project-container .project img {
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  flex: 0 1 auto;
  width: auto;
  height: 10em;
}
#project-container .project .title {
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -o-flex: 0 1 auto;
  flex: 0 1 auto;
  font-size: 1.2rem;
  width: 100%;
}
#project-container #title {
  -webkit-flex: 0 1 100%;
  -moz-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  -o-flex: 0 1 100%;
  flex: 0 1 100%;
  font-size: 2rem;
  padding: 1rem;
}
